header_height = 60px
activitystream_width = 724px

body
  -webkit-font-smoothing antialiased
  font-family "Lucida Grande"

h1,h2,h3
  font-weight 100

a
  font-weight bold

ul
  list-style none

.btn
  letter-spacing 2px
  text-transform uppercase

.nav-pills > li > a
  border-radius 5px
  background-color #1f1f1f
  color #fff

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills>li.active>a:focus
  background-color #007e84

.nav>li>a:hover,
.nav>li>a:focus
  background-color #1f1f1f
  color #fff

#splash
  .app-header
    position fixed
    left 0
    right 0
    background-color #1f1f1f
    color #fff
    padding 0 16px
    height header_height
    z-index 10

    h1.logo-container
      display inline-block
      font-size 34px
      margin 12px 0
      .logo
        height 40px
        display inline-block
        margin-right 10px
        margin-top -2px

    .global-nav
      display inline-block
      position absolute
      left 80px
      top 22px
      li
        display inline-block
        text-transform uppercase
        margin-right 12px
        a
          -webkit-font-smoothing antialiased
          font-family "Lucida Grande"
          font-weight 100
          font-size 12px
          color #fff

  .app-content
    background-color #ecf0f1
    display block
    overflow hidden

    .activitystreams
      top (header_height + 30)px
      max-width activitystream_width
      position relative
      bottom 0
      margin 0 auto
      margin-bottom 120px

      ul.nav-filters
        position relative
        margin 0 auto
        margin-bottom 12px
        text-align center

        li
          float none
          display inline-block

      ul.activitystreams-list
        border 1px solid #bdc3c7
        margin-bottom 0
        padding-left 0
        list-style none
        border-radius 6px

        li.activity
          min-height 100px
          background-color #fff
          border-bottom 1px solid rgb(215, 219, 221)
          padding 12px
          &:first-child
            border-radius 5px 5px 0 0
          &:last-child
            border-radius 0 0 5px 5px

          header
            h1
              color #004448
              font-size 16px
              font-weight bold
              margin 0
          h2
            color #007e84
            display inline-block
            font-size 14px
            font-weight bold
            margin 0
          .time
            color #48bec4
            margin-right 4px
            &:before
              content "\00b7"
          .actions
            margin-top 6px
            padding 0

            .action
              display inline-block
              margin-left 6px
              a
                color #007e84
                i
                  display inline-block
                  margin-right 2px

      .activity-description
        background-color #fff
        border-radius 5px
        border 1px solid #bdc3c7
        padding 20px
        h1
          color #004448
          font-size 26px
          font-weight bold
          margin 0
        h2
          color #007e84
          display inline-block
          font-size 14px
          font-weight bold
          margin 0
        .time
          color #48bec4
          margin-right 4px
          &:before
            content "\00b7"
        .og
          background-color #ecf0f1
          border-radius 5px
          margin-top 12px
          padding 12px
          h1
            font-size 14px
            font-weight normal
            color #007e84
            margin-bottom 12px
          .block
            width 100%
            overflow hidden
            img
              max-width 150px
              max-height 150px
              width 150px
              float left
            .text
              font-size 12px
              float right
              width 500px
        .actions
          width 100%
          text-align right
          margin-top 12px
          .action
            display inline-block
            margin-left 6px
            a
              color #007e84
              i
                margin-right 4px
        .glyphicon
          width 20px
          display inline-block
        .comment
          height 50px
          padding-left 16px
          font-size 13px
          display inline-block
          width 657px
      .buttons
        width 100%
        text-align right
        margin-top 12px

        .btn-share
          background-color #007e84
          color #fff

        .btn-task
          background-color #48bec4
          color #fff

      .goback
        position absolute
        top 65px
        background #fff
        -webkit-transform rotate(-90deg)
        left -40px
        border 1px solid #bdc3c7
        padding 6px 12px
        border-radius 6px
        border-bottom 0
        a
          color #48bec4