body
  -webkit-font-smoothing antialiased
  font-family "Lucida Grande"

h1,h2,h3
  font-weight 100

a
  font-weight bold

.btn
  letter-spacing 2px
  text-transform uppercase

header
  h1
    font-size 60px
    margin 50px 0 30px 0