mixin activity
  li.activity
    header
      a.activity-title(href='#'): h1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ullamcorper nisl at turpis duis
    .activity-text
      h2 John Doe&nbsp;
      small: span.time &nbsp;2 hours ago:
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas luctus viverra dui faucibus tristique. Mauris orci sem, feugiat ac ipsum ut, laoreet cursus nulla. Cras lacinia turpis eros, vel venenatis libero venenatis ut. Sed nec sagittis erat, ac vulputate nisl. Sed consequat hendrerit amet.
    ul.actions
      li.action
        a(href='#')
          i.glyphicon.glyphicon-thumbs-up
          | Like
      li.action
        a(href='#')
          i.glyphicon.glyphicon-ok-circle
          | Mark resolved
      li.action
        a(href='#')
          i.glyphicon.glyphicon-share-alt
          | Convert to task

mixin description
  .activity-description
    h1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ullamcorper nisl at turpis duis
    .activity-text
      h2 John Doe&nbsp;
      small: span.time &nbsp;2 hours ago:
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempus placerat orci, vitae adipiscing nulla luctus id. Morbi enim turpis, tempor et eros sit amet, iaculis hendrerit erat. Etiam mollis dignissim sapien non hendrerit. Sed lacinia ante mi, ac rutrum lectus mattis id. Sed malesuada nisi urna. Etiam vitae consectetur elit, commodo hendrerit magna. Duis id lectus eget velit facilisis tincidunt. Duis ac leo nec dolor fringilla porta. Quisque vel interdum felis, id dignissim diam. Cras eleifend ligula at odio mollis blandit. Nunc quis risus sed velit accumsan imperdiet sed ut ligula. Donec ante libero, placerat non purus placerat, interdum laoreet eros. Vivamus non augue adipiscing, condimentum nisi at, dignissim odio. Nam eu aliquet tellus. Mauris volutpat volutpat tempus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse vel leo eleifend, porta urna eget, pretium purus. Nunc fermentum nisi nisl, non semper massa adipiscing eu. Donec nibh libero posuere.
      .og
        h1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ullamcorper nisl at
        .block
          img(src='http://stadiumlunapark.files.wordpress.com/2011/03/img623.jpg?w=491&h=373')
          .text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed urna arcu. Quisque vitae leo sed justo congue pharetra. Nulla rhoncus justo vehicula, malesuada dolor vel, porta dui. In nec nibh id lorem pretium vulputate. Fusce sagittis libero eu nisi adipiscing, quis tincidunt sapien volutpat.
      ul.actions
        li.action
          a(href='#')
            i.glyphicon.glyphicon-thumbs-up
            | Like
        li.action
          a(href='#')
            i.glyphicon.glyphicon-ok-circle
            | Mark resolved
        li.action
          a(href='#')
            i.glyphicon.glyphicon-share-alt
            | Convert to task
      i.glyphicon.glyphicon-user
      input(type='texarea', placeholder='Comment').comment
    .buttons
      button(value='Share').btn.btn-share="Share"
      button(value='Convert to a task').btn.btn-task="Save as a task"

#splash
  header.app-header
    h1.logo-container: img.logo(src='http://dcentproject.eu/wp-content/themes/dcent/images/dcent-logo.png')
    ul.global-nav
      li: a.nav(href='#') Notifications
      li: a.nav(href='#') Messages
      li: a.nav(href='#') Tasks
      li: a.nav(href='#') Votes
      li: a.nav(href='#') Articles

  section.app-content
    .activitystreams
      ul.nav.nav-pills.nav-filters
        li.active: a(href='#') Hot now
        li: a(href='#') My likes
        li: a(href='#') Closing soon
      ul.activitystreams-list
        - for (var i = 0; i < 20; i++)
          +activity()
      .description-container.hide
        +description()
      .goback.hide: a(href='#') back